.hidden-summary .post-info-mod { 
  color: transparent; /* make the text invisible */
  user-select: none; /* prevent selection of the text */
  font-size: 0;
  display: none;
  visibility: hidden;
}

.hidden-summary:after .post-info-mod:after {
    content: '';
}
