{{ $sep := " | " }}
{{ with $file := (path.Join $.Page.File.Dir (.Get "file")) }}
  {{ with ( $file | readFile ) }}
    {{ with . | transform.Unmarshal }}
      {{- $headers := index . 0 -}}
      {{- print $sep (delimit $headers $sep) $sep | markdownify -}}

      {{ $header_count := $headers | len }}
      {{ $header_data_sep := strings.Repeat $header_count " --- |" }}
      {{- print $sep $header_data_sep | markdownify -}}
        
      {{ range after 1 . }}
        {{ $data := . }}
        {{- print $sep (delimit $data $sep) $sep | markdownify }}
      {{ end }}
    {{ end }}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
{{ end }}
