{{ sep := " | " }}
{{ with $file := (path.Join $.Page.File.Dir (.Get "file")) }}
  {{ with ( $file | readFile ) }}
    {{ with . | transform.Unmarshal }}
      {{- headers := range index . 0 -}}
      {{- print $sep (delimit $headers $sep) $sep -}}

      {{ header_count := $headers | len }}
      {{ header_data_sep := strings.Repeat $header_count " --- |" }}
      {{- print $sep $header_data_sep -}}
        
        <tbody>
          {{ range after 1 . }}
            <tr>
              {{ range . }}
                <td>{{ . }}</td>
              {{ end }}
            </tr>
          {{ end }}
        </tbody>
      </table>
    {{ end }}
  {{ else }}
    {{ errorf "The %q shortcode was unable to find %s. See %s" $.Name $file $.Position }}
  {{ end }}
{{ else }}
  {{ errorf "The %q shortcode requires one positional argument, the path to the CSV file relative to the assets directory. See %s" .Name .Position }}
{{ end }}
