name: Sync git-aubmodules

on:
  workflow_dispatch:

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      contents: write      
    steps:           
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: recursive
          fetch-tags: true
               
      - name: Configure git client
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Git submodule add
        continue-on-error: true
        run: |
           mkdir -p themes/ || true
           git submodule add "https://github.com/imfing/hextra" themes/hextra || true     

      - name: Git submodule sync
        run: |
          git pull --recurse-submodules
          git submodule update --remote --recursive
          git submodule sync
          git submodule update --init --recursive --remote
          
      - name: Status
        run: git status
        
      - name: Git commit
        continue-on-error: true
        run: git commit -am "submodule sync"
  
      - name: Push
        run: git push --set-upstream origin main
